$background-1: rgb(255, 255, 255); // main page background color
$headbannerfooter: #f5f5f5;
$a-tag: rgb(97, 97, 97); // for headbanner a links tag
$hover-tag: #0396eb; // for whole page texts, links,icons hover colors 
$green: #51B549; //main color palette
$green-hover: #2e9626;
$searchwrite: rgb(85,85,85);
$menu_submenu_border: rgb(235, 235, 235);
$detailedList: #555555;
$footer_bg_color: #edf1f2;
